@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
  --color-bg: #172030;
  --color-white: #FFF;
  --color-black: #141C27;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--color-white);
}

.main{
  background-color: var(--color-bg);
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main-content{
  padding-top: 94px;
}

.main::before,
.main::after{
  background-color: #1A2538;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.24), -4px -4px 16px rgba(73, 73, 73, 0.4);;
  content: '';
  position: absolute;
  top: 428px;
  left: -60px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.main::after{
  left: 271px;
  top: -60px;
}